*.egg-info
*.pot
*.py[co]
.tox/
__pycache__
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/
personalcrm/csv-files-for-db
personalcrm/TODOLIST.txt
personalcrm/quote/static/quote/js/accounting-spanish.js
personalcrm/quote/templates/quote/layout-spanish.html
personalcrm/quote/templates/quote/view-quote-spanish.html
