{% extends 'quote/layout.html' %}

{% block body %}
    <div class="index-title">
      <h1>Inventory Index</h1>
      <button  type="button "id="new_product" class="btn crm-button"><a href="{% url 'create-product' %}">New Product</a></button>
    </div>
    <table 
        data-toggle="table"
        data-url="inventory-index"
        data-pagination="true"
        data-search="true"
        id="index-table">
        <thead>
          <tr>
            <th data-field="pn" data-sortable="true" data-formatter="InventoryLinkFormatter">PN</th>
            <th data-field="brand" data-sortable="true">Brand</th>
            <th data-field="title" data-sortable="true">Description</th>
            <th data-field="stock" data-sortable="true">Stock</th>
          </tr>
        </thead>
      </table>
    
{% endblock body %}