* {
  box-sizing: border-box;
}

body {
  margin-bottom: 2rem;
}

.internal-body {
  max-width: 50rem;
}

.form-label {
  margin-bottom: 0;
}

#termsAndTotals {
  display: flex;
  justify-content: space-between;
}

.totals {
  padding: 0.5rem;
}

.total-row {
  font-weight: bold;
  display: flex;
  justify-content:space-between;
}

.tax {
  width: 30%;
  margin-left: 1rem;
}
