* {
  box-sizing: border-box;
}

body {
  margin-bottom: 2rem;
}

#termsAndTotals {
  display: flex;
}

.total-row {
  display: flex;
}

.discount-column {
  /* display: flex;
  height: max-content;
  vertical-align: middle; */
}

/* #general-info {
  display: flex;
  flex-wrap: wrap;
} */
