* {
  box-sizing: border-box;
}

body {
  margin-bottom: 2rem;
}

.form-label {
  margin-bottom: 0;
}

#generalInfo-flex {
}

#termsAndTotals {
  display: flex;
}

.total-row {
  display: flex;
}

.discount-column {
  /* display: flex;
  height: max-content;
  vertical-align: middle; */
}

