@media print {
  .company-info {
    display: flex;
    justify-content: space-between;
    text-align: end;
    margin-bottom: 2rem;
  }

  .customer-info {
    display: flex;
    justify-content: space-between;
  }

  table {
    break-inside: auto;
  }

  thead {
    -webkit-print-color-adjust: exact;
  }

  td {
    font-size: 13px;
  }

  p {
    font-size: 13px;
    margin-bottom: 0.1rem;
  }

  .terms-and-total {
    break-inside: avoid;
  }
}

@page {
  size: letter portrait;
}

@media screen and (max-width: 850px) {
  .company-info,
  .customer-info,
  .totaling-div {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  #quote-id {
    margin-top: 2rem;
  }

  .customer-info-right {
    text-align: center;
  }

  .general-info-left {
    margin-bottom: 1rem;
  }

  .totaling-div > * {
    margin-bottom: 0.1rem;
  }

  .totals {
    padding-right: 0.5rem;
  }
  .terms {
    padding-left: 0.5rem;
  }
}

@media (min-width: 850px) {
  p {
    font-size: 15px;
    margin-bottom: 0.1rem;
  }

  .company-info {
    display: flex;
    justify-content: space-between;
    text-align: end;
    margin-bottom: 2rem;
  }

  .customer-info-right {
    text-align: left;
    margin-left: 2rem;
  }
  .totals {
    width: 40%;
    padding-right: 3rem;
  }

  .terms {
    padding-left: 3rem;
  }
}

.customer-info p {
  margin-bottom: 0.1rem;
}

.company-details {
  margin-bottom: 0.1rem;
}

.customer-info {
  display: flex;
  margin-bottom: 2rem;
}

table {
  margin-bottom: 2rem;
}

thead {
  background-color: black;
  color: white;
}

tr {
  font-size: 15px;
}

.row-description {
  padding-right: 3rem;
}

.terms-and-total {
  display: flex;
  justify-content: space-between;
}

.totaling-div {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
