@media print {
  .company-info {
    display: flex;
    justify-content: space-between;
    text-align: end;
    margin-bottom: 2rem;
  }

  table {
    break-inside: auto;
  }

  thead {
    -webkit-print-color-adjust: exact;
  }

  tr,
  .terms-and-total {
    break-inside: avoid;
  }
}
@page {
  size: letter portrait;
}

@media screen (max-width: 850px) {
  .company-info,
  .customer-info {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .general-info-left {
    margin-bottom: 1rem;
  }
}

@media (min-width: 850px) {
  p {
    font-size: 15px;
    margin-bottom: 0.1rem;
  }

  .company-info {
    display: flex;
    justify-content: space-between;
    text-align: end;
    margin-bottom: 2rem;
  }
}

.customer-info {
  display: flex;
  margin-bottom: 2rem;
}

.customer-info-right {
  text-align: left;
  margin-left: 2rem;
}

table {
  margin-bottom: 2rem;
}

thead {
  background-color: black;
  color: white;
}

tr {
  font-size: 15px;
}

.row-description {
  padding-right: 3rem;
}

.terms-and-total {
  display: flex;
  justify-content: space-between;
}

.totaling-div {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.terms {
  padding-left: 3rem;
}

.totals {
  width: 40%;
  padding-right: 3rem;
}
